*{
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  font-family: "Montserrat", serif;
}

a {
  text-decoration: none;
}

.homepage{
  display: flex;
  flex-direction: column;
  gap: 15vh;
}

.homepage__header {
  display: flex;
  flex-direction: column;
  gap: 8vh;
  background-image: linear-gradient(to bottom, #b3f3e0, white);
}

.logo {
  height: 3.5vh;
}

.homepage__navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.navbar__links {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.navlinks {
  color: black;
  font-size: large;
  font-weight: 500;
}

.navlinks:hover {
  color: #008a29;
  scale: 1.07;
  transition-duration: 0.2s;
}

.navbar__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

.navbar__button--login {
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: 600;
}

.navbar__button--login:hover {
  text-shadow: -10px -10px 20px #2ac08e, -10px 10px 20px #2ac08e,
    10px -10px 20px #2ac08e, 10px 10px 20px #2ac08e, 10px 0px 20px #2ac08e,
    -10px 0px 20px #2ac08e;
  scale: 1.07;
  transition-duration: 0.2s;
}

.navbar__button--register {
  background-color: #2ac08e;
  border: none;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  border-radius: 9999px;
  color: white;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.navbar__button--register:hover {
  background-color: #2ac08ebb;
  scale: 1.07;
  transition-duration: 0.2s;
}

.header__heading {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  align-items: center;
  text-align: center;
  padding-top: 4vh;
}

.heading__text {
  font-size: 70px;
  font-weight: bold;
  width: 40vw;
  margin: auto;
}

.heading__subtext {
  margin: auto;
  color: gray;
  font-size: larger;
  font-weight: 500;
}

.heading__buttons {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5vw;
}

.heading__button--primary {
  color: white;
  background-color: #2ac08e;
  border: none;
  border-radius: 9999px;
  font-size: large;
  font-weight: bold;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  cursor: pointer;
}

.heading__button--primary:hover {
  background-color: #2ac08ebb;
  scale: 1.07;
  transition-duration: 0.2s;
}

.heading__button--secondary {
  background-color: white;
  color: black;
  border: none;
  border-radius: 9999px;
  font-size: large;
  font-weight: 500;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  cursor: pointer;
}

.heading__button--secondary:hover {
  background-color: #3e4643;
  color: white;
  scale: 1.07;
  transition-duration: 0.2s;
}

.header__image {
  height: 85vh;
  width: 70vw;
  margin: auto;
  align-items: center;
  border-radius: 50px;
}

.homepage__footer {
  background-color: #e9fcf6;
  display: flex;
  flex-direction: column;
  padding: 0vh 8vw;
}

.footer__upper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
  border-bottom: 1px solid #e9e9e9;
  padding: 7vh 0vw;
}

.footer__lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3vh 0vw;
}

.footer__logo {
  height: 10vh;
  width: 10vw;
}

.footer__text {
  margin: 0;
  font-size: larger;
  font-weight: 500;
  line-height: 3.5vh;
  color: gray;
}

.section__heading {
  margin: 0;
  font-size: 25px;
}

.section__linksection{
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}

.footer__links {
  text-decoration: none;
  color: gray;
  font-size: larger;
  font-weight: 500;
}

.footer__section {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 20vw;
  gap: 3vh;
  padding-top: 3vh;
}

.footer__section--discription{
  padding: 0;
  gap: 0;
}

.section__emailbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  height: 5.5vh;
  padding-left: 1vw;
  padding-right: 0.4vw;
  border-radius: 1px solid #e9e9e9;
  border-radius: 40px;
}

.emailbar__input{
  outline: none;
  border: none;
  height: 100%;
  color: gray;
  font-size: medium;
  font-weight: 400;
}

.emailbar__icon{
  padding: 10px 10px;
  border-radius: 50%;
  width: 1.3vw;
  color: white;
  background-color: #29c18e;
}

.footer__icon{
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
}

.icon--social{
  fill: #29c18e;
  color: #29c18e;
  padding: 10px 10px;
  border-radius: 50%;
  width: 1.5vw;
  background-color: white;
}





.homepage__mainsection{

}

.mainsection__memoriessec{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
  align-items: center;
}

.memoriessec__image{
  height: 60vh;
  width: 30vw;
}

.memoriessec__discription{
  display: flex;
  flex-direction: column;
  width: 32vw;
  gap: 4vh;
}

.memoriessec__heading{
  font-size: 55px;
  line-height: 8vh;
}

.memoriessec__text{
  color: gray;
  font-weight: 500; 
  font-size: 22px;
  line-height: 4vh;
}

.memoriessec__numbersec{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.memoriessec__numberdisc{
  display: flex;
  flex-direction: column;
  gap: 1vh;
  text-align: center;
  padding: 1.5vw;
  background-color: #e9fcf6;
  border-radius: 20px;
}

.number{
  color: #2ac08e;
  font-weight: bolder;
  font-size: 45px;
}

.numberdisc__text{
  color: gray;
  line-height: 2.7vh;
  font-size: 17px;
  font-weight: 500;
}

.mainsection__explore{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;
}

.explore__heading{
  font-size: 60px;
  font-weight: bold;
}

.explore__searchbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
  padding: 2vh 1vw;
  border-radius: 50px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.07);
}

.searchbar__term{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

.term__rightborder{
  border: 1px solid rgb(230, 230, 230);
  height: 2.5vh;
}

.term__discription{
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.term__heading{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  gap: 0.5vw;
}

.term__text{
  font-size: 15px;
  font-weight: 500;
  color: gray;
}

.icon--down{
  width: 10px;
  color: gray;
}

.icon--location{
  color: orange;
  stroke-width: 2;
  width: 25px;
}

.icon--calender{
  width: 25px;
  stroke-width: 2;
  color: orange;
}

.icon--search{
  color: white;
  padding: 20px 20px;
  border-radius: 50%;
  width: 30px;
  background-color: #29c18e;
}

.explore__image{
  height: 60vh;
  width: 70vw;
}


.mainsection__review{
  display: flex;
  flex-direction: column;
  padding: 12vh 0vw;
  align-items: center;
  gap: 6vh;
  background-color: #e9fcf6;
}

.review__heading{
  font-size: 50px;
  font-weight: bold;
}

.review__text{
  color: gray;
  font-size: 20px;
  font-weight: 500;
}

.review__cardgroup{
  display: grid;
  grid-template-columns: repeat(3, minmax(200px,400px));
  column-gap: 2vw;
}

.cardgroup__card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vh 2vw;
  background-color: white;
  gap: 2vh;
  text-align: center;
  border-radius: 30px;
}

.card__img{
  height: 100px;
  width: 100px;
}

.card__disc{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vh;
}

.review__name{
  font-size: 25px;
}

.review__bio{
  color: gray;
  font-weight: 500;
}

.star__group{
  display: flex;
  flex-direction: row;
  gap: 0.7vw;
}

.star{
  color: rgba(128, 128, 128, 0.459);
  font-size: 25px;
}

.star--checked{
  color: orange;
}


.review__text{
  color: gray;
  line-height: 3vh;
}

.mainsection__plan{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
}

.plan__heading{
  font-size: 60px;
  font-weight: bold;
}

.plan__text{
  color: gray;
  font-size: 20px;
  font-weight: 500;
}

.plan__buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
  border: 1.5px solid rgb(218, 218, 218);
  border-radius: 9999px;
  padding: 3px;
}

.plan__button--monthly{
  color: black;
  font-size: 18px;
  font-weight: 600;
  /* background-color: #29c18e; */
  border-radius: 9999px;
  padding: 20px 30px;
}

.plan__button--yearly{
  color: white;
  font-size: 18px;
  font-weight: 600;
  background-color: #29c18e;
  border-radius: 9999px;
  padding: 20px 30px;
}

.plan__cardgroup{
}

.plan__card{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.plan__cardbody{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.plan__header{
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.plan__img{
  height: 50px;
  width: 50px;
}

.plan__headdicription{
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.plan__headingtext{

}

.plan__subheadingtext{

}

.plan__price{

}

.plan__discription{
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.plan__term{
  display: flex;
  flex-direction: row;
}

.icon--check{

}

.plan__button--free{

}

@media (max-width: 768px) {
  .footer__upper {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #e9e9e9;
    padding: 7vh 0vw;
  }
  
  .footer__lower {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    padding: 3vh 0vw;
  }

  .footer__text {
    margin: 0;
    font-size: medium;
    width: 100%;
    font-weight: 500;
    line-height: 3.5vh;
    color: gray;
  }
  
  .section__heading {
    margin: 0;
    font-size: 25px;
  }
  
  .section__linksection{
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 2.5vh;
  }
  
  .footer__links {
    text-decoration: none;
    color: gray;
    font-size: medium;
    font-weight: 500;
  }
  
  .footer__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 3vh;
    padding-top: 3vh;
  }
  
  .footer__section--discription{
    padding: 0;
    gap: 0;
  }
}

@media (max-width: 320px) {
  /* .homepage__footer {
    display: flex;
    flex-direction: column;
    padding: 0vh 8vw;
  } */
  
  .footer__upper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    border-bottom: 1px solid #e9e9e9;
    padding: 7vh 0vw;
  }
  
  .footer__lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3vh 0vw;
  }
}